/* Color variables */
$main-light-color: #fcfcfc;
$point-light-color: #ededed;
$linear-color: #eaecef;
$main-font-color: #2c3e50;


@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;

  }
}

