/* Color variables */
$main-light-color: #fcfcfc;
$point-light-color: #ededed;
$linear-color: #eaecef;
$main-font-color: #2c3e50;

/* Global Styles */


@font-face {

  font-family: 'AppleSDGothicNeoB';
  src: url('~@/assets/fonts/Apple_Sandol_Gothic_Neo/AppleSDGothicNeoB.ttf');
  font-weight: normal;
  font-style: normal;
}

body {

  background-color: #e2e1dd;
}

#app {
  font-family: 'AppleSDGothicNeoB', serif;
  color: $main-font-color;
}

* {
  padding: 0px;
  margin: 0px;
  transition: .6s;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

.window-controller {
  display: block;
  padding: 5px;
  background-color: $point-light-color;
  border-radius: 15px 15px 0px 0px;

  & .window {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1.46px solid lightgrey;
    display: inline-block;
    margin: 5px 2px;

  }

  & .window-close {
    background-color: #d55934;
  }

  & .window-minimize {
    background-color: #f1c54a;
  }

  & .window-maximize {
    background-color: #22b12d;
  }

}



